.nav{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    color: white;
    background-color: rgb(88, 88, 86);
    height: 10%;
    width: 100%;
    display: flex;
    
    

}

a:link{
    text-decoration: none;
    color: white;
}

ul li{
    
    color: white;
    list-style-type: none;
    /* this gets rid of dots next to listed items */
    margin-right: 20px;
    opacity: .75;
    /* change the opacity to create the hover effect on the li items */
    
}

ul li:hover{
    opacity: 1;
}


.nav-links{
    
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(88, 88, 86);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}


.btn{
    border-radius: 0%;
    border-color: black;
    box-shadow: black 5px 5px;
    color: white;
    background-color: cornflowerblue;
}